<navbar/>
<div class="container animacion-entrada" @translateY>
  <header class="header animacion-entrada">
    <h1 class="logo">Snow<span class="highlight">Tech</span></h1>
    <input type="text" placeholder="🔍 Buscar por nombre..." [(ngModel)]="searchText" (input)="filterImages()">
  </header>

  <section class="categories animacion-entrada">
    <button (click)="filterByCategory('all')" [class.active]="activeCategory === 'all'">Todos</button>
    <button (click)="filterByCategory('art')" [class.active]="activeCategory === 'art'">Arte</button>
    <button (click)="filterByCategory('music')" [class.active]="activeCategory === 'music'">Música</button>
    <button (click)="filterByCategory('photography')" [class.active]="activeCategory === 'photography'">Fotografía</button>
    <button (click)="filterByCategory('sculpture')" [class.active]="activeCategory === 'sculpture'">Escultura</button>
  </section>
  
  <section class="gallery">
    <div class="image-card" *ngFor="let image of filteredImages" [class.visible]="visibleImages.includes(image)" #imageCard>
      <img class="imagen" [src]="image.url" [alt]="image.name">
      <p class="image-title">&#64;{{ image.author }}</p>
      <p class="image-category">{{ image.name }}</p>
      <p class="image-price">0.005 ETH</p>
      <button class="detail-btn">Ver detalles</button>
    </div>
  </section>
  
  <div class="pagination animacion-entrada">
    <button (click)="prevPage()" [disabled]="currentPage === 1">← Anterior</button>
    <span>{{ currentPage }}/{{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente →</button>
  </div>
</div>
<sidenav/>