<footer class="footer-section" @translateY>
    <div class="footer-content animacion-entrada">
      <div class="footer-col">
        <h3>Snow<span>Tech</span></h3>
        <p>El mejor marketplace de nft en español ya está aquí</p>
      </div>
  
      <div class="footer-col">
        <h4>Sobre</h4>
        <ul>
          <li>Producto</li>
          <li>Recurso</li>
          <li>Términos y condiciones</li>
          <li>FAQ</li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4>Compañía</h4>
        <ul>
          <li>Nuestro equipo</li>
          <li>Partner With Us</li>
          <li>Políticas y privacidad</li>
          <li>Características</li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4>Contact</h4>
        <p>+012 3456789</p>
        <p>snowproject&#64;gmail.com</p>
        <div class="social-icons">
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-discord"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </div>
  </footer>