<navbar/>
<div class="container">
    <section class="hero">
    <div class="hero-content">
        <div class="text-area">
            <h1>Crea, vende y recolecta tus nft favoritos en esta comunidad en español.</h1>
            <div class="buttons">
                <button class="btn-white">Vende NFT</button>
                <button class="btn-red">Explorar más</button>
            </div>
        </div>
        
        <div class="hero-right">
        <div class="image-grid">
            <img src="assets/imgs/azul.png" alt="">
            <img src="assets/imgs/modelo.jpg" alt="">
            <img src="assets/imgs/verde.png" alt="">
            <img src="assets/imgs/cerebro.jpg" alt="">
            <img src="assets/imgs/mujer.png" alt="">
            <img src="assets/imgs/conejo.jpg" alt="">
        </div>
        <div class="big-image">
            <img src="assets/imgs/cilindros.jpg" alt="Imagen grande">
        </div>
        </div>
    </div>

    <div class="logos">
        <img src="assets/imgs/binance.png" alt="Binance">
        <img src="assets/imgs/ethereum.png" alt="Ethereum">
        <img src="assets/imgs/exodus.png" alt="Exodus">
    </div>
</section>
    
    <section class="about-section">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>
    
    <section class="nft-section">
        <div class="nft-image">
            <img src="assets/imgs/tigre.png" alt="NFT Tigre">
        </div>
        <div class="nft-text">
            <h3>Que es un nft</h3>
            <p>Los NFT o token no fungible, son activos digitales únicos que no se pueden cambiar entre sí, ya que no hay dos iguales, los NFT utilizan la misma tecnología que las criptomonedas, lo que los diferencia, es los códigos de dichos contratos inteligentes. A través de estos token las personas pueden hacer que todo lo que se pueda representar digitalmente se convierta en un NFT, desde un simple tuit hasta una obra de arte.</p>
            <button class="btn-gradient">Leer más</button>
        </div>
    </section>
    
    <section class="collections-section">
        <h2>Colecciones</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button class="btn-gradient">Explorar</button>
    </section>
</div>