<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="dataForm" (ngSubmit)="ingresar()">
        <label for="username">USUARIO</label>
        <input type="text" id="username" formControlName="username" placeholder="Ingrese su usuario" required autocomplete="off">
        <label for="password">CONTRASEÑA</label>
        <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña" required autocomplete="off">
        <button type="submit">INGRESAR</button>
        <div class="extra-options">
            <a href="/recoverpassword" aria-label="link que envia al usuario a la pagina de recuperar la contraseña">Olvidé mi contraseña</a> | 
            <a href="/register" aria-label="link que envia al usuario a la pagina de registro">Registrarse</a>
        </div>
    </form>
    <div class="social-login">
        <a href="/register">
            <button  class="google-login">Iniciar con Google</button>
        </a>
        <a href="/register">
            <button class="facebook-login">Iniciar con Facebook</button>
        </a>
    </div>
  </div>